/* navigation*/
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
img{
    height: 50px;
    width: 50px;
}

/* navigation section  */
#home{
    height: 370px;
    
}
#home::before{
    height: 578px;
    padding: 3px 68px;
}

#home p{
    font-size: 13px;
}
/* services section  */
#services{
  flex-direction: column;
}

#services.box{

}

/* client section  */
 #clients{
     flex-wrap: wrap;
 }

 #clients img{
    width: 56px;
    padding: 0px 1px;
 }
/* contact section  */
#contact-box form{
    width: 80%;
}
/* footer  */

/* utility classes  */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}